.cart-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    z-index: 100;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    width: 400px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.cart-first-line {
    display: flex;
    justify-content: space-between;
}

.cart-first-line * {
    font-size: 1.5rem;
    background-color: inherit;
    border: 0px;
}

.cart-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1
}

.go-shopping {
    background-color: inherit;
    font-size: 1.4rem;
    width: 50%;
    align-self: center;
    margin-top: 100px;
}

.hidden {
    display: none;
}

.close-cart {
    padding: 2px;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-container {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    justify-content: space-evenly;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.amount-item-bar button {
    background-color: inherit;
    border-radius: 50%;
    padding: 0 8px;
    border: 1px solid white;
}


.amount-item-bar {
    display: flex;
    gap: 5px;
    align-self: flex-start;
}

.cart-champ-name {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em black;
}

.cart-champ-price {
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgb(25, 147, 0), 0 0 1em rgb(25, 147, 0), 0 0 0.2em rgb(25, 147, 0);
}

.remove-from-cart-button {
    align-self: flex-end;
    background-color: inherit;
    padding: 3px;
    margin-top: 10px;
}

.cart-champ-amount-input {
    background-color: inherit;
    text-align: center;
    padding: 2px;
}

.cart-total {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
}

.cart-total div {
    display: flex;
    gap: 10px;
}

.cart-total-price {
    text-shadow: 1px 1px 2px rgb(25, 147, 0), 0 0 1em rgb(25, 147, 0), 0 0 0.2em rgb(25, 147, 0);
}

.proceed-to-checkout {
    background-color: inherit;
    padding: 5px;
    align-self: center;
}