
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vh;
    align-self: stretch;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: black;
    z-index: 2;
    flex-wrap: wrap;
}

  
.shop-name {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0px;
    background-color: inherit;
}
  
.shop-name-img {
    width: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}
  
.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    
}
  
.cart-btn {
    display: flex;
    border: 0;
    background-color: inherit;
}
  
.cart-logo {
    width: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}
  
.cart-items {
    background-color: red;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 0.8rem;
    color: white;
}   

.search-btn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    justify-self: center;
    border-radius: 20px;
    border: 1px white solid;
    background-color: inherit;
}
  
.search-icon {
    width: 20px;
}


  