.store {
    background-image: url('../pics/store.jpeg');
    background-size: cover;
    background-position: center;
}

.champion-container {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}